   <!-- Component styling -->
   <style>

    .component {
      display: flex;
      align-items: center;
      margin: 0px;
      gap: 10px;

      flex-direction: column;                                                                                                                                                                       
    }

    .component-name {
      margin-top: 25px;
      font-size: 13px;
      width: 10ch;
      text-align: center;
      line-height: 1em;
      min-height: 2em;
      max-height: 2em;
      overflow: hidden;
      white-space: normal;
      word-break: break-word;
      display: block;
    }

    .component-value {
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      white-space: nowrap;
      min-width: 10ch;
      min-height: 1em;
      max-height: 1em;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    .component-surface {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: var(--surface-height,300px);
      position: relative;
      margin: 0px;
    }

    .stacked-text {
      height: 100%;
      overflow: hidden;
      line-height: 1;
      font-size: 11px;
    }
    .stacked-text span {
      display: block;
      text-align: center;
      font-weight: bold;
    }

   </style>

   <!-- Component inner structure -->
   <div class="component">
       <div class="component-value"></div>
       <div class="component-surface">
          <file-selector-dialog id="selector"></file-selector-dialog>
          <div class="stacked-text" id="filename">
              <!-- JS inserts one span per character -->
          </div>
       </div>
       <div class="component-name"></div>
   </div>



